# Verlauf der Häufigkeit der einzelnen Songs über die Wochen

In [53]:
import sqlite3
import datetime

import pandas as pd
import scipy
import matplotlib as plt

In [3]:
%matplotlib inline

In [4]:
# Daten aus Datenbank laden
connection = sqlite3.connect('../db.sqlite3')
df = pd.read_sql_query("""SELECT bayern3.id, datum_zeit, interpret, titel FROM bayern3 
                        INNER JOIN songs ON bayern3.song=songs.id""", connection, index_col='id')
connection.close()

In [5]:
df.groupby('titel').count().sort_values(by='datum_zeit', ascending=False).head()

                   datum_zeit  interpret
titel
Crazy                     184        184
Échame la Culpa           167        167
Feel it still             164        164
Katchi                    157        157
More Than Friends         154        154

In [8]:
crazy = pd.DataFrame({'datum_zeit' : df[df['titel'] == 'Crazy']['datum_zeit'], 'wert' : 1})
crazy['datum_zeit'] = pd.to_datetime(crazy['datum_zeit'])
crazy.tail()

               datum_zeit  wert
id
13275 2018-03-10 06:12:00     1
13358 2018-03-10 13:34:00     1
13395 2018-03-10 16:35:00     1
13528 2018-03-11 02:03:00     1
13581 2018-03-11 05:35:00     1

In [23]:
crazy['datum'] = crazy['datum_zeit'].dt.date
crazy['zeit'] = crazy['datum_zeit'].dt.time
crazy.head()

             datum_zeit  wert       datum      zeit
id
106 2018-01-27 07:04:00     1  2018-01-27  07:04:00
141 2018-01-27 10:06:00     1  2018-01-27  10:06:00
189 2018-01-27 14:09:00     1  2018-01-27  14:09:00
236 2018-01-27 17:37:00     1  2018-01-27  17:37:00
329 2018-01-28 00:05:00     1  2018-01-28  00:05:00

In [66]:
crazy[crazy['datum'] == datetime.date(2018, 3, 5)]['zeit']

id
11735    05:04:00
11744    05:45:00
11796    10:05:00
11887    17:05:00
Name: zeit, dtype: object

In [85]:
vergleich = pd.DataFrame({
    'montag' : crazy[crazy['datum'] == datetime.date(2018, 3, 5)].reset_index()['zeit'],
    'dienstag' : crazy[crazy['datum'] == datetime.date(2018, 3, 6)].reset_index()['zeit'],
    'mittwoch' : crazy[crazy['datum'] == datetime.date(2018, 3, 7)].reset_index()['zeit'],
    'donnerstag' : crazy[crazy['datum'] == datetime.date(2018, 3, 8)].reset_index()['zeit'],
    'freitag' : crazy[crazy['datum'] == datetime.date(2018, 3, 9)].reset_index()['zeit'],
    'samstag' : crazy[crazy['datum'] == datetime.date(2018, 3, 10)].reset_index()['zeit'],
    'sonntag' : crazy[crazy['datum'] == datetime.date(2018, 3, 11)].reset_index()['zeit']
})

In [86]:
vergleich

   dienstag donnerstag   freitag  mittwoch    montag   samstag   sonntag
0  02:31:00   03:30:00  01:06:00  00:08:00  05:04:00  03:31:00  02:03:00
1  08:07:00   07:05:00  09:31:00  05:04:00  05:45:00  06:12:00  05:35:00
2  13:20:00   14:06:00  12:48:00  11:05:00  10:05:00  13:34:00       NaN
3  16:34:00        NaN  15:34:00  18:08:00  17:05:00  16:35:00       NaN
4       NaN        NaN  19:53:00       NaN       NaN       NaN       NaN

In [87]:
vergleich.plot()

TypeError: Empty 'DataFrame': no numeric data to plot