In [ ]:
import sqlite3
from datetime import datetime

import pandas as pd

In [ ]:
connection = sqlite3.connect('../db.sqlite3')

Mittels SQL-Query Daten in einen Dataframe übertragen

In [ ]:
df = pd.read_sql_query("""SELECT bayern3.id, datum_zeit, interpret, titel FROM bayern3 
                        INNER JOIN songs ON bayern3.song=songs.id""", connection, index_col='id')
df.tail(20)

Eine einzelne Woche auswählen

In [ ]:
letzte_woche = df.loc[(df['datum_zeit'] >= '2018-03-05T00:00') & (df['datum_zeit'] < '2018-03-11T00:00')]

Dataframes für einzelne Tage erzeugen

In [ ]:
tage = []
for i in range(7):
    # Aus Wochentabelle einzelnen Tag herausziehen
    tag = letzte_woche.loc[(letzte_woche['datum_zeit'] >= '2018-03-0'+str(5+i)) & (letzte_woche['datum_zeit'] < '2018-03-0'+str(5+i+1))]
    # Häufigkeit der einzelnen Titel bestimmen und in neuen DataFrame schreiben
    tag = pd.DataFrame({'2018-03-0'+str(5+i) : tag.groupby(['titel']).count()['datum_zeit']})
    # Sortiert nach Häufigkeit an Listenelement anhängen 
    tage.append(tag.sort_values(by='2018-03-0'+str(5+i), ascending=False))

Vergleichstabelle über gesamte Woche

In [ ]:
vergleich = pd.DataFrame(tage[0])
for i in range(1,7):
    vergleich[tage[i].columns[0]] = tage[i]

In [ ]:
vergleich.head(50)

In [142]:
connection.close()