# Declare a Mapping

In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime

In [3]:
engine = create_engine('sqlite:////home/alex/PythonProjekte/radioscrape/db.sqlite3', echo=True)

In [4]:
Base = declarative_base()

In [5]:
class Song(Base):
    __tablename__ = 'bayern3'
    
    id = Column(Integer, primary_key=True)
    datum_zeit = Column(DateTime)
    interpret = Column(String)
    titel = Column(String)

# Create a Schema

In [6]:
Base.metadata.create_all(engine)

2018-03-06 18:15:52,149 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-06 18:15:52,152 INFO sqlalchemy.engine.base.Engine ()
2018-03-06 18:15:52,156 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-06 18:15:52,158 INFO sqlalchemy.engine.base.Engine ()
2018-03-06 18:15:52,187 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("bayern3")
2018-03-06 18:15:52,188 INFO sqlalchemy.engine.base.Engine ()
2018-03-06 18:15:52,191 INFO sqlalchemy.engine.base.Engine
CREATE TABLE bayern3 (
	id INTEGER NOT NULL,
	datum_zeit DATETIME,
	interpret VARCHAR,
	titel VARCHAR,
	PRIMARY KEY (id)
)


2018-03-06 18:15:52,191 INFO sqlalchemy.engine.base.Engine ()
2018-03-06 18:15:52,197 INFO sqlalchemy.engine.base.Engine COMMIT